.bi {
  vertical-align: -0.2em;
}

.btn-remove {
  color: #dc3545 !important;
  background-color: #e9ecef !important;
  border: 1px solid #ced4da !important;
  opacity: 1 !important;
}

.timer-container {
  border: 2px solid;
  width: 250px;
  border-radius: 25px;
  text-align: center;
}

.timer {
  font-size: 2rem;
}
